<p>Hei {{ firstname }} {{ surname }}, <br/>
Takk for din søknad på studie {{ courseName }}.</p>

<p>Denne eposten er kvittering på din innsendte søknad.<br/>
I løpet av kort tid, så vil vi kontakte deg for et hyggelig telefonmøte, fra følgende telefonnummer 23135090.<p>
 
<p>Du kan også lese mer på vår <a href="https://skolen.adamogeva.no/p/32639/sporsmal-og-svar" title="Få mer informasjon om studieopptak">Spørsmål og Svar side</a> om relevant informasjon rundt studieopptak.</p>
 
<p>Vi gleder oss til å bli kjent med deg.</p>
 
<p>Med vennlig hilsen<br/>
Adam og Eva skolen as<p>
